/* hover  */

.border-top-h:hover {
    border-top: 4px;
    background-color: #ff9800;
    transition: border .6s;
}

.opacity-none {
    opacity: 0%;
    transition: all .4s;
}

.circle-resize {
    width: 10px;
    height: 10px;
    transition: all .4s;
}

button.hoverable:hover :nth-child(2) {
    opacity: 100%;
    transition: all .4s;
}

button.hoverable:hover :nth-child(3) {
    width: 45px;
    height: 45px;
    transition: all .4s;
}

.img-circle-hoverable {
    border: solid 5px;
    border-color: #e9ecef;
    padding: 5px;
    transition: border .6s;
}

.img-circle-hoverable:hover {
    border-color: white;
}

.img-after-hover {
    transition: all .6s;
}

.text-after-hover {
    position: absolute;
    bottom: 30px;
    text-align: center;
    opacity: 0%;
    transition: .6s;
}

.border-after-hover {
    transition: all .6s;
}

.hoverable:hover .border-after-hover {
    border-bottom: solid 6px;
    border-color: #ff9800;
    transform: scale(0.97);
}

.hoverable:hover .img-after-hover {
    filter: brightness(20%);
}

.hoverable:hover .text-after-hover {
    opacity: 100%;
}

.input-hover {
    transition: .3s;
}

.input-hover:hover {
    opacity: 90%;
}

.link-hover-active {
    transition: all .3s;
}

.link-hover-active:hover {
    color: #ff9800;
    margin-left: 5px;
}

.link-hover-active1 {
    transition: all .2s;
}

.link-hover-active1:hover {
    color: white;
    margin-left: 5px;
}

.icon-hover {
    transition: .2s;
}

.icon-hover:hover {
    color: #ff9800;
}

.object-fit {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .3s;
}

.image-hover {
    overflow: hidden;
    height: 100%;
    width: 100%;
    transition: all .3s;
}

.image-hover:hover {
    transform: scale(1.1);
}

/* burger menu hover */

.burger-menu:hover {
    mix-blend-mode: normal;
}

.burger-menu:hover .burger-menu-nav {
    left: 0%;
    transition: left .4s;
}

.burger-menu:hover .b-span2 {
    display: none;
    transition: none .3s;
}

.burger-menu:hover .b-span:nth-of-type(1) {
    transform: rotate(-45deg) translate(.5px, 4.5px);
}

.burger-menu:hover .b-span:nth-of-type(2) {
    transform: rotate(45deg) translate(0px, -6px);
}

.nav-link-hover {
    transition: all 0.3s;
}

.nav-link-hover:hover {
    color: white;
    margin-left: 15px;
}

.scroll-down {
    transition: all .3s;
}

.scroll-down:hover {
    transform: scale(1.1);
}

/* z-index */
.z-160 {
    z-index: 160;
}


/* keyframes */
.svg-animation {
    width: 100%;
    position: relative;
    left: 600px;
    animation: svg-move 15s infinite;
    animation-timing-function: linear;
    opacity: 20%;
    z-index: 150;


}

@keyframes svg-move {
    0% {
        top: -300px;
    }

    10% {
        top: -200px;

    }

    20% {
        top: -100px;

    }

    30% {
        top: 0px;

    }

    40% {
        top: 100px;

    }

    50% {
        top: 200px;

    }

    60% {
        top: 100px;

    }

    70% {
        top: 0px;

    }

    80% {
        top: -100px;

    }

    90% {
        top: -200px;

    }

    100% {
        top: -300px;
    }
}

.logo-animation {
    width: 100%;
    position: relative;
    animation: logo-move 15s infinite;
    animation-timing-function: linear;
}

@keyframes logo-move {
    0% {
        right: -200px;
    }

    10% {
        right: -100px;
    }

    20% {
        right: 0px;
    }

    30% {
        right: 100px;
    }

    40% {
        right: 200px
    }

    50% {
        right: 300px;
    }

    60% {
        right: 400px;
    }

    70% {
        right: 500px;
    }

    80% {
        right: 600px;
    }

    90% {
        right: 700px;
    }

    100% {
        right: 800px;
    }
}

.circle1 {
    transform-origin: 50% 50% 0px;
    animation-name: spin2;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.circle2 {
    transform-origin: 50% 50% 0px;
    animation-name: spin1;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.circle3 {
    transform-origin: 50% 50% 0px;
    animation-name: spin2;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.spining-1 {
    opacity: 50%;
    top: -140px;
    left: 30px;
}

.spining-2 {
    opacity: 50%;
    right: 0px;
    bottom: 0px;
}

.spining-3 {
    opacity: 30%;
    right: 50%;
    bottom: 20px;
}

@keyframes spin1 {
    50% {
        transform: rotate3d(0, 2, 1, 180deg);
    }

    100% {
        transform: rotate3d(0, 2, 1, 360deg);
    }
}

@keyframes spin2 {
    50% {
        transform: rotate3d(2, 0, 1, 180deg);
    }

    100% {
        transform: rotate3d(2, 0, 1, 360deg);
    }
}