.pdx-1 {
    padding: 0px 130px 0px 130px;
}
.pdy-1 {
    padding: 70px 0px 70px 0px;
}
.pd-text {
    padding-bottom: 30px;
}
.pd-text-sm {
    padding-bottom: 10px;
}
.pd-bottom-1{
    padding-bottom: 80px;
}