/* typography */
.font {
    font-family: 'Outfit',
        sans-serif;
}

.f-light {
    font-family: 'Outfit',
        sans-serif;
    font-weight: lighter;
}

.text-1 {
    font-size: 80px;
    font-family: 'Outfit',
        sans-serif;
    font-weight: lighter;

}

.text-2 {
    font-size: 60px;
    font-family: "outfit", sans-serif;
    font-weight: lighter;
}

.text-3 {
    font-family: 'Outfit',
        sans-serif;
    font-size: 12px;
}

.text-btn {
    font-family: 'Outfit',
        sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.text-rotate {
    rotate: -90deg;
    position: fixed;
    bottom: 60px;
    left: 30px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    mix-blend-mode: difference;
}

.mix-blend-mode {
    mix-blend-mode: difference;
}


/*header and  burger menu */
.header-h {
    height: 80px;
}

.logo {
    font-size: 50px;
    position: fixed;
    font-family: "outfit", sans-serif;
    font: weight 200px;
    left: 30px;
    z-index: 200;
}

.burger-menu {
    position: fixed;
    right: 30px;
    transition: .3s;
    z-index: 100;
    mix-blend-mode: difference;
}

.b-span {
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background-color: white;
    display: block;
    transition: .3s;
}

.b-span2 {
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    background-color: white;
    display: block;
    transition: .3s;
    position: sticky;
    transition: block .3s;
}

.burger-menu-nav {
    width: 100%;
    height: 100%;
    position: fixed;
    font-size: 35px;
    font-weight: bold;
    line-height: 60px;
    font-family: 'Outfit',
        sans-serif;
    color: hsla(0, 0%, 100%, .8);
    padding: 130px 120px 0px 120px;
    top: 0%;
    left: -200%;
    transition: left .4s;
    right: 0%;
    bottom: 0%;
    background-color: black;
    z-index: -10;
}

.burger-menu:hover .burger-menu-nav {
    left: 0%;
    transition: left .4s;
}

.burger-menu:hover .b-span2 {
    display: none;
    transition: none .3s;
}

.burger-menu:hover .b-span:nth-of-type(1) {
    transform: rotate(-45deg) translate(.5px, 4.5px);
}

.burger-menu:hover .b-span:nth-of-type(2) {
    transform: rotate(45deg) translate(0px, -6px);
}

/* .burger-menu.is-open .b-span2 {
    display: none;
    transition: none .3s;
}

.burger-menu.is-open .b-span:nth-of-type(1) {}

.burger-menu.is-open .b-span:nth-of-type(2) {}


.burger-menu-nav.is-open {
    left: 0%;
    transition: left .3s;
} */

/* hover */

.border-top-h:hover {
    border-top: 4px;
    background-color: #ff9800;
    transition: border .6s;
}

.opacity-none {
    opacity: 0%;
    transition: all .4s;
}

/* .opacity-none:hover{
    opacity: 100%;
transition: all .4s;
} */
.circle-resize {
    width: 10px;
    height: 10px;
    transition: all .4s;
}

/* .circle-resize:hover {
    width: 45px;
    height: 45px;
    background-color: grey;
    transition: all .4s;
} */

button.hoverable:hover :nth-child(2) {
    opacity: 100%;
    transition: all .4s;
}

button.hoverable:hover :nth-child(3) {
    width: 45px;
    height: 45px;
    transition: all .4s;
}